.loader {
    background-image: url("/static/images/ajax-loader.gif");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;

    display: block;
    height: 100px;
}

.maindiv {
    overflow: hidden;
}

.img-circle {
    background-image: url("/static/images/roll.jpg");
    background-position: -300px 0;
    height: 200px;
    width: 200px;
}
